/* Basic wrapper and sidebar styles */
#wrapper {
    display: flex;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    transition: margin .25s ease-out;
}

#page-content-wrapper {
    min-width: 100vw;
    width: 100%;
}