<!-- Sidebar -->
<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Admin Panel</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Menu Management</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Inventory</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Sales Reports</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">User Management</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->